


<div class="mainer">
  <div class="container-fluid">
    <div class="col-md-9 col-lg-9 col-center-block content-wrap">
      <div class="edit-post" >
        <%= simple_form_for(@reply) do |r| %>
          <%= r.error_notification %>

          <div class="form-inputs">
            <div class="edit-header">
              
              <div class="post-title">

<!--                <div id="my_form">-->
                  <%#= r.kindeditor :content,:width => 900, :height => 600%>
<!--                </div>-->
                <%= r.text_area :content, id: :post_content, style: 'height:400px; max-height:500px;' %>


                <div style="margin-top: 50px">
                  <%= r.button :submit, value: "发布回复" %>
                </div>

              </div>


            </div>


          </div>

         
        <% end %>


      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
    var editor = new wangEditor('post_content');  // 用构造函数的方法，创建一个post_content, 把值传给editor. post_content 是text_area的id.
    editor.create(); //用指定的原型对象去创建一个新的对象


</script>







